.seccion-listado {
    
    width: 100%;
    height: 100vh;
    background: #FFEBB7;
}

.seccion-listado .seccion-listado-container{

    width: 100%;
    background-color: #FFEBB7;
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "listado-btn-añadir "
                        "listado-btn-sesion"
                        "tabla-listado";
}

.tabla-listado {
    height: 600px;
    align-content: center;
    text-align: center;

}

.contenido-listado {
    border-color: #FF6E31;
    border-collapse: collapse;
    align-content: center;
    text-align: center;
    height: 300px;
    table-layout: fixed;
    width: 100%;
}

.contenido-listado td{
    border-style: solid;
    border: 3px solid #FF6E31;
    width: 100px;
    word-wrap: break-word;
}

.contenido-listado th{
    border-style: solid;
    border: 3px solid #FF6E31;
    width: 100px;
    word-wrap: break-word;
    background-color: #243763;
    color: white;
}

.contenido-listado img{
    
    height: 50px;
    width: 50px;
}


.contenido-listado button {
    background-color: #FF6E31;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 25px;
}

.listado-btn-añadir {
    margin: auto;


}

.listado-btn-añadir img{
    height: 50px;
    width: 50px;

}


.listado-btn-sesion {
    margin-left: auto;
    margin-bottom: 1%;
    
}

.listado-btn-sesion img{
    
    height: 40px;
    width: 40px;
}

.listado-btn-sesion li {
    display: inline;
}

.listado-btn-sesion button {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 35px;
}